<footer class="cafe-footer">
  <ion-grid>
    <ion-row class="ion-align-items-start ion-justify-content-center">
      <ion-col size="12" size-md="4" class="footer-col">
        <h4>Café Aroma</h4>
        <p>O requinte do grão à xícara.</p>
      </ion-col>
      <ion-col size="12" size-md="4" class="footer-col">
        <h4>Contato</h4>
        <p>Brasília, DF</p>
        <p>contato@cafearoma.com.br</p>
      </ion-col>
      <ion-col size="12" size-md="4" class="footer-col">
        <h4>Redes Sociais</h4>
        <div class="footer-icons">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="footer-copy">© 2025 Café Aroma. Todos os direitos reservados.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</footer>