// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --cafe-dark-green: #3F401B;
  --cafe-beige: #F2E5D5;
  --cafe-gold: #A66B37;
  --cafe-wood: #401E0B;
  --cafe-snow: #F2F2F2;
}