<ion-menu contentId="main-content" side="end" menuId="mainMenu">
  <ion-header>
    <ion-toolbar style="--background: var(--cafe-wood); --color: var(--cafe-beige);">
      <ion-title class="cafe-font">Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="close-outline" style="color: var(--cafe-gold);"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="sidebar-content">
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/home" routerDirection="root">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/produtos" routerDirection="root">
          <ion-icon name="cafe-outline" slot="start"></ion-icon>
          <ion-label>Produtos</ion-label>
        </ion-item>
        <ion-item routerLink="/contato" routerDirection="root">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Contato</ion-label>
        </ion-item>
        <ion-item routerLink="/faq" routerDirection="root">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label>FAQ</ion-label>
        </ion-item>
        <ion-item routerLink="/admin" routerDirection="root">
          <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
          <ion-label>Admin</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header class="ion-no-border" id="main-content">
  <ion-toolbar style="--background: var(--cafe-beige); --color: var(--cafe-wood);">
    <ion-title mode="ios" class="cafe-font">Café Aroma</ion-title>
    <ion-buttons slot="end" class="ion-hide-md-down">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/produtos">Produtos</ion-button>
      <ion-button routerLink="/contato">Contato</ion-button>
      <ion-button routerLink="/faq">FAQ</ion-button>
      <ion-button routerLink="/admin">Admin</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-md-up">
      <ion-menu-toggle menu="mainMenu">
        <ion-button>
          <ion-icon name="menu-outline" slot="icon-only" style="color: var(--cafe-wood); font-size: 26px;"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>