<ion-header class="ion-no-border">
  <ion-toolbar style="--background: var(--cafe-beige); --color: var(--cafe-wood);">
    <ion-title mode="ios"
      style="font-family: 'Playfair Display', Georgia, serif; font-size: 1.4rem; letter-spacing: 2px;">
      Café Aroma
    </ion-title>
    <ion-buttons slot="end" class="ion-hide-md-down">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/produtos">Produtos</ion-button>
      <ion-button routerLink="/contato">Contato</ion-button>
      <ion-button routerLink="/faq">FAQ</ion-button>
      <ion-button routerLink="/admin">Admin</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-md-up">
      <ion-menu-toggle menu="mainMenu">
        <ion-button>
          <ion-icon name="menu-outline" slot="icon-only" style="color: var(--cafe-wood); font-size: 26px;"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>